*{
  margin: 0%;
  padding: 0%;
}

body{
  font-family:'Ubuntu', sans-serif;
  margin: 20px 5%;
}

header{
  width: 100%;
  align-content: center;
  margin: 0;
}

.logo{
  width: 20%;
  align-items: center;
  margin: 0 40% 5%;
}

/*grid de la página*/
.container{
  z-index: 1;
  width: 100%;
  display: grid;
  grid-gap:30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);

  grid-template-areas: "logo logo logo select"
                       "menu statistics statistics statistics"
                       "menu pokemon-info pokemon-info pokemon-info"
                       "menu pokemon-info pokemon-info pokemon-info"
                       ;
}

/* Menú lateral */
.menu{
 grid-area: menu;

 box-shadow: 0 0 10px rgba(0, 0, 0, 0.105);
 -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.105);
 -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.105);

 width: 100%;
 max-height: 400px;
 border-radius: 10px;

 background-image:url(https://i.ibb.co/9pcyh9d/menu-gradient.png);
 background-size: 100%;
 
 display: flex;
 flex-direction: column;
 align-items: center;
}

/*todos los select*/
select{
  outline: none;
  border-style: none;
}

/*selector de orden*/

.order{
  display: grid;
  grid-area: select;
}

.select-order{
  width: 90%;
  height: 30px;
  font-size: 10pt;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: none;
  -webkit-box-shadow:none;
  background: #6D86ED;
  color:#FFF;
}

/*título del menú*/
.filter-tittle{
  display: inline-block;
  color: #ffffff;
  margin: 50px 0 5%;
}

.menu a{
  color: #ffffff;
  text-decoration: none;
}

/*Select del menú*/
.select-filter{
  width: 90%;
  height: 40px;
  
  font-size: 10pt;
  margin: 4%;

  background-color: rgb(255, 255, 255);
  color: #4966E1;
}

.select-filter:hover{
  color:#f2f2f2;
  background-color: #9C9FFF;
  transition: 0.2s all ease-in;
}

/*botón restablecer*/
.return-button{
  background-color: rgb(69, 13, 198);
  box-shadow: 0 0 5px rgb(73, 102, 225);
  color: #ffffff;
  width: 80%;
  padding: 4%;
  margin: 4%;
  border-radius: 30px;
  text-align: center;
}

.return-button a{
  color:  #ffffff;
  font-size: 11pt;
}

.return-button:hover{
  background-image: linear-gradient( rgb(53, 237, 234),rgb(41, 191, 188));
  color: #ffffff;
  transition: 0.2s all ease-in;
}

.return-button a:hover{
  color: #ffffff;
}

/*contenedr de las estadísticas*/
.statistics-bar{
  grid-area: statistics;
  display: flex;
  flex-direction: row;
}
.statistics{
 width: 97%;
 height: 80px;
 border-radius: 10px;
 margin: auto 10px 6px;
 background-color: rgb(255, 255, 255);
 border-color: #9C9FFF #9C9FFF #9C9FFF white solid;
 border-width: 3px;

 color: rgb(69, 13, 198);
 text-align: left;
 font-size: 18pt;
 font-weight: bold;

 display: flex;
 align-items: center;
 justify-content: flex-start;
}

.pokedex-icon{
  height: 80px;
}

/*contenedor de los pokémons*/
.pokemon{
  grid-area: pokemon-info;

  display: flex;
  flex-direction: row;
  flex-flow:wrap;
  justify-content: center;
  align-items: center;
}

.statistics{
    grid-area: statistics;
    text-align: center;
}

/*contenedor de la info de cada pokémon*/
.pokemon-info{
  grid-area: pokemon-info;

  width:25%;
  margin: 0 auto 4% auto;
  padding: 2%;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.084);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.084);
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.084);

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pokemon-number{
 font-weight: 500;
 font-size: 12pt;
 color: #0DC3C6;
 margin: 10px 0 0 0;
}

.pokemon-name{
  font-weight: normal;
  font-size: 15pt;
  color: rgb(74, 74, 74);

}

.modal-button{
  background-color: #4966E1;
  width: 120px;
  border-radius: 30px;
  padding: 5px;
  color: #FFF;
  font-size: 10pt;
  margin: 10px 0 0 0;
  transition: all 0.2s ease 0s;
  cursor: pointer;
  outline: none;
  border-color: #ffffff;
}

.modal-button:hover{
  background-color: #0DC3C6;
}

.modal-button:active{
  background-color: #0DC3C6;
}

/* modal */
.principalModal{
  position: fixed; 
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenedor de la información del modal */
.dataModal{
  background-color: #ffffff;
  width: 60%;
  height: 60%;
  padding: 40px;

  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.084);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.084);
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.084);
  
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "modal-image type-modal"
                       "modal-image type-modal"
                       "modal-image info-modal"
                       "modal-image info-modal"
                       "button-modal button-modal";
}

.modal-image{
  grid-area: modal-image;
  width: 200px;
  margin: auto;
  align-self: center;
}

/* alineación de los textos del modal */

.info-modal{
  grid-area: info-modal;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  margin: auto;
}

.buttonclose{
  grid-area: button-modal;
  width: 80%;
  margin: 20px;
  background-color: #4966E1;
  border-radius: 30px;
  padding: 5px;
  color: #FFF;
  font-size: 12pt;
}

.modal-name{
  font-size: 24pt;
  color: #4966E1;
  display: flex;
  flex-direction: row;
}

.type-modal{
  grid-area: type-modal;
  font-size: 12pt;
  text-align: center;
  font-weight: normal;
  color: #ffffff;  

  width: 20%;
  background-color: #2BDABB;
  padding: 5px;
  border-radius: 30px;
  margin: 5px;
}

.text-modal{
  font-weight: normal;
  color: rgb(121, 121, 121);
  margin: 5px;
}


@media (max-width:768px){
  .container{
    grid-gap:20px;
      grid-template-areas: "select select select select"
                           "menu menu menu menu"
                           "statistics statistics statistics statistics"
                           "pokemon-info pokemon-info pokemon-info pokemon-info";
  }
  
  .pokemon-info{
  width: 90%;
  margin: 2%;
  column-gap: 2%;
  align-content: center;
  }

  .select-order{
    width:100%;
  }

  .menu{
    height: 250px;
    border-radius: 5px;
  }

  .select-filter{
    width: 90%;
    height: 30px;
    font-size: 10pt;
    margin: auto;
  }

  .return-button{
    padding: 2%;
    width: 80%;
  }

  .statistics{
    grid-area: statistics;
    text-align: center;
}

/* Disposición de la Modal Responsive */

.dataModal{
  width: 90%;
  height: 90%;
  padding: 10px;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "modal-image"
                       "type-modal"
                       "info-modal"
                       "info-modal"
                       "info-modal"
                       "button-modal";
}

.modal-image{
  grid-area: modal-image;
  width: 150px;
}

.info-modal{
  grid-area: info-modal;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
  margin: 50px 0;
}

.buttonclose{
  grid-area: button-modal;
}

.type-modal{
  grid-area: type-modal;
}

}

@media (min-width:769px) and (max-width: 1024px){

  .menu{
    height: 200px;
  }

}

@media (min-width:1025px) and (max-width: 1280px){

  .menu{
    height: 300px;
  }

}

@media (min-width:1281px){

  .menu{
    height: 400px;
  }

}
