*{
  margin: 0%;
  padding: 0%;
}

body{
  font-family:'Ubuntu', sans-serif;
}

.container{
  width: 100%;
  display: grid;
  grid-gap:0.5%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, auto);

  grid-template-areas: "menu pokemon-info pokemon-info pokemon-info";
}

.menu{
 grid-area: menu;

}

.pokemon{
  display: flex;
  flex-direction: row;
  flex-flow:wrap;
  align-content: center;
  grid-area: pokemon-info;
}

.pokemon-info{
  width:25%;
  margin: 1%;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pokemon-number{
 font-weight: bold;
 font-size: 12pt;
 color: rgba(255, 123, 1, 1);
 margin: 10px 0 0 0;
}

.pokemon-name{
  font-weight: normal;
  font-size: 15pt;
  color: rgba(54, 54, 54, 1);

}

@media screen and (max-width: 768px){
  .container{
      grid-template-areas: "menu menu menu menu"
                           "pokemon-info pokemon-info pokemon-info pokemon-info";
  }
  
  .pokemon-info{
  width: 90%;
  margin: 2%;
  column-gap: 2%;
  align-content: center;
  }
}

