*{
  margin: 0%;
  padding: 0%;
}

body{
  font-family:'Ubuntu', sans-serif;
  margin: 5%;
}

/*grid de la página*/
.container{
  width: 100%;
  display: grid;
  grid-gap:30px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);

  grid-template-areas: "logo logo logo select"
                       "menu statistics statistics statistics"
                       "menu pokemon-info pokemon-info pokemon-info"
                       "menu pokemon-info pokemon-info pokemon-info"
                       ;
}

/*grid de la página*/
.menu{
 grid-area: menu;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.105);
 -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.105);
 -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.105);
 width: 100%;
 height: 400px;
 background-image: linear-gradient(rgba(13, 109, 221, 1),rgba(8, 73, 171, 1));
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

/*contenedr de las estadísticas*/
.statistics{
 grid-area: statistics;
 width: 97%;
 height: 40px;
 border-radius: 10px;
 margin: auto auto 6px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: darkgray;
 color: #333333;
}

/*contenedor de los pokémons*/
.pokemon{
  display: flex;
  flex-direction: row;
  flex-flow:wrap;
  justify-content: center;
  align-items: center;
  grid-area: pokemon-info;
}

/*contenedor de la info de cada pokémon*/
.pokemon-info{
  grid-area: pokemon-info;
  width:25%;
  margin: 0 auto 4% auto;
  padding: 2%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.084);
  -moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.084);
  -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.084);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pokemon-number{
 font-weight: bold;
 font-size: 12pt;
 color: rgba(255, 123, 1, 1);
 margin: 10px 0 0 0;
}

.pokemon-name{
  font-weight: normal;
  font-size: 15pt;
  color: rgba(54, 54, 54, 1);

}

/*todos los select*/
select{
  outline: none;
  border-style: none;
}

/*selector de orden*/

.order{
  display: grid;
  grid-area: select;
}

.select-order{
  width: 90%;
  height: 30px;
  font-size: 10pt;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: none;
  -webkit-box-shadow:none;
  background: rgba(36, 114, 210, 1);
  color:#FFF;
}

/*título del menú*/
.filter-tittle{
  display: inline-block;
  color: #ffffff;
  margin: 5%;
}

.menu a{
  color: #ffffff;
  text-decoration: none;

}

/*Select del menú*/
.select-filter{
  width: 90%;
  height: 40px;
  color:#f2f2f2;
  background-color:rgba(5, 65, 155, 1);
  font-size: 10pt;
  margin: 4%;
}

.select-filter:hover{
  background-color: rgba(255, 138, 0, 1);
  color: #ffffff;
  transition: 0.2s all ease-in;
}

/*botón restablecer*/
.return-button{
  background-color: rgba(255, 138, 0, 1);
  color: #ffffff;
  width: 80%;
  padding: 4%;
  margin: 4%;
  border-radius: 10px;
  text-align: center;
}

.return-button a{
  color:  #ffffff;
  font-size: 11pt;
}

.return-button:hover{
  background-color: #333333;
  color: #ffffff;
  transition: 0.2s all ease-in;
}

.return-button a:hover{
  color: #ffffff;
}

/* modal */
.principalModal{
  z-index: 1;
  background-color: transparent;
}

@media screen and (max-width: 768px){
  .container{
    grid-gap:20px;
      grid-template-areas: "select select select select"
                           "menu menu menu menu"
                           "pokemon-info pokemon-info pokemon-info pokemon-info";
  }
  
  .pokemon-info{
  width: 90%;
  margin: 2%;
  column-gap: 2%;
  align-content: center;
  }

  .select-order{
    width:100%;
  }

  .menu{
    height: 250px;
    border-radius: 5px;
  }

  .select-filter{
    width: 90%;
    height: 30px;
    font-size: 10pt;
    margin: auto;
  }

}



