body{
 font-family: 'Ubuntu', sans-serif;
 font-size: 10pt;
}

.body-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-bar{
    width: 20%;
    margin: 5% 0 0 5%;
}

.root-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    width: 80%;
    justify-content: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 5% 5% 0;
}
h3{
 font-size: 1.3em;
 font-weight: 500;
 color: lightslategrey;
 margin: 5% auto 0.1%;
}

.title{
    font-size: 1.5em;
    font-weight: 400;
    margin: 0.5%;
  }

h1{
    text-align: center;
}

nav ul{
    display: flex;
    flex-direction: column;
    align-items: left;
}

li{
    text-align: left;
    text-decoration: none;
    list-style: none;
}

.type{
    font-weight: lighter;
    font-size: 1.2em;
    color: white;
    width: 45%;
    padding: 2% 2% 3%;
    margin: 5%;
    text-align: center;
    border-radius: 10px;
}
#typeSteel{
    background-image: linear-gradient( rgba(201, 201, 201, 1), rgba(108, 108, 108, 1));
}

#typeWater{
    background-image: linear-gradient( rgba(91, 186, 255, 1), rgb(109, 62, 62));
}